body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
}

.dice-image {
    border: 2px solid #35424a;
    min-width: 400px;
    min-height: 400px;
}

.dice-image-alt {
    border: 2px solid #35424a;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}